.navbar {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #000;
  height: 58px;
  margin-bottom: 32px;
  margin-top: -4px;
}
.nav-link {
  color: #000 !important;
}
.nav-item {
  margin: auto;
}
.navbar-toggler {
  border: none !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menu-icon.png);
  width: 15px;
  height: 15px;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler:focus-visible {
  box-shadow: none !important;
}
#logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 59px;
  height: 58px;
  top: 0;
}
.contact-img {
  width: 19.017px;
  height: 18.268px;
}
.contact-img img {
  width: 19.017px;
  height: 18.268px;
}
.socials {
  position: absolute;
  right: 0;
}
.title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.subtitle {
  text-align: center;
  font-size: 6px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
}
.ellipse {
  width: 196px;
  height: 23px;
  border-radius: 24px;
  background: rgba(92, 159, 249, 0.13);
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  .navbar-light .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  #logo {
    width: 135px;
    height: 129px;
  }
  #logo img {
    width: 135px;
    height: 129px;
  }
  .contact-img {
    width: 38.702px;
    height: 100%;
  }
  .contact-img img {
    width: 38.702px;
    height: 37.573px;
  }

  .navbar {
    height: 129px;
    margin-bottom: 60px;
    margin-top: -11px;
  }
  .socials {
    gap: 29px;
  }
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 14px;
  }
  .ellipse {
    padding: 0;
    width: 615px;
    height: 44px;
    border-radius: 24px;
    background: rgba(92, 159, 249, 0.13);
  }
}
@media screen and (min-width: 1200px) {
  #logo {
    width: 166px;
    height: 159px;
  }
  #logo img {
    width: 166px;
    height: 159px;
  }
  .navbar {
    height: 159px;
    margin-bottom: 102px;
    margin-top: -9px;
  }
  .contact-img {
    width: 48.044px;
    height: 46.642px;
  }
  .contact-img img {
    width: 48.044px;
    height: 46.642px;
  }
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 16px;
  }
  .ellipse {
    width: 728px;
    height: 61px;
    border-radius: 24px;
    background: rgba(92, 159, 249, 0.13);
  }
}
@media screen and (min-width: 1400px) {
  #logo {
    width: 161px;
    height: 154px;
  }
  #logo img {
    width: 161px;
    height: 154px;
  }
  .navbar {
    height: 154px;
    font-size: 16px;
    margin-bottom: 118px;
    margin-top: 2px;
  }
  .contact-img {
    width: 55.025px;
    height: 55.098px;
  }
  .contact-img img {
    width: 55.025px;
    height: 55.098px;
  }
  .socials {
    gap: 25px;
  }
  .title {
    font-size: 52px;
  }
  .subtitle {
    font-size: 18px;
  }
  .ellipse {
    width: 790px;
    height: 61px;
    border-radius: 24px;
    background: rgba(92, 159, 249, 0.13);
  }
}
@media screen and (min-width: 1900px) {
  #logo {
    width: 230px;
    height: 220px;
  }
  #logo img {
    width: 230px;
    height: 220px;
  }
  .navbar {
    height: 220px;
    font-size: 16px;
    margin-bottom: 90px;
    margin-top: -37px;
  }
  .contact-img {
    width: 50.549px;
    height: 51.519px;
  }
  .contact-img img {
    width: 50.549px;
    height: 51.519px;
  }
  .socials {
    gap: 31px;
  }
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 22px;
  }
  .ellipse {
    width: 973px;
  }
}
